/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto");

/* -- reset -- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.product-list {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.product-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.product-image {
  max-width: 200px;
}

.product-sku {
  text-transform: uppercase;
  color: grey;
}

.header {
  font-size: 2em;
}

.product-department a {
  text-decoration: none;
}
